In [2]:
import pandas as pd

In [26]:
print(pd.__version__)

2.3.0

In [3]:
df = pd.read_csv('data\data.csv', encoding='1251')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Вадим\AppData\Local\Temp\ipykernel_8208\2796387157.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv('data\data.csv', encoding='1251')

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)
#pd.describe_option()

In [5]:
df.shape

(4462, 21)

In [6]:
df.tail(3)

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,DR_Suppl,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
4459,2022-08-12,21:43:48,5692,18002542,18,9907,Розничная реализация,18,260990,СИЛДЕНАФИЛ-СЗ 50МГ. №10 ТАБ. П/П/О /СЕВЕРНАЯ З...,Авеста,Северная Звезда,1.00,297.74,396.00,0.00,NaN,NaN,48,1,1.00
4460,2022-08-12,21:44:46,5693,18002542,18,9907,Розничная реализация,18,41512,ТОБРАЗОН 5МЛ. ГЛ.КАПЛИ ФЛ.,Катрен г.Химки,Кадила Фармасьютикалз Лтд ( CADILA ),1.00,322.06,419.00,0.00,NaN,NaN,48,1,1.00
4461,2022-08-12,21:46:08,5694,18002542,18,9907,Розничная реализация,15,25673,БЕЛЬВЕДЕР ЛАК П/ОБГРЫЗАНИЯ НОГТЕЙ 8МЛ. [BELWEDER],Катрен г.Химки,BELWEDER NORD SIA,1.00,238.62,346.00,34.00,9.00,200010027618.00,48,1,1.00

In [7]:
df.dtypes

DR_Dat         object
DR_Tim         object
DR_NChk         int64
DR_NDoc         int64
DR_Apt          int64
DR_Kkm          int64
DR_TDoc        object
DR_TPay         int64
DR_CDrugs       int64
DR_NDrugs      object
DR_Suppl       object
DR_Prod        object
DR_Kol        float64
DR_CZak       float64
DR_CRoz       float64
DR_SDisc      float64
DR_CDisc      float64
DR_BCDisc     float64
DR_TabEmpl      int64
DR_VZak         int64
DR_Pos        float64
dtype: object

In [8]:
df.columns

Index(['DR_Dat', 'DR_Tim', 'DR_NChk', 'DR_NDoc', 'DR_Apt', 'DR_Kkm', 'DR_TDoc',
       'DR_TPay', 'DR_CDrugs', 'DR_NDrugs', 'DR_Suppl', 'DR_Prod', 'DR_Kol',
       'DR_CZak', 'DR_CRoz', 'DR_SDisc', 'DR_CDisc', 'DR_BCDisc', 'DR_TabEmpl',
       'DR_VZak', 'DR_Pos'],
      dtype='object')

In [9]:
df.isna().sum()

DR_Dat           0
DR_Tim           0
DR_NChk          0
DR_NDoc          0
DR_Apt           0
DR_Kkm           0
DR_TDoc          0
DR_TPay          0
DR_CDrugs        0
DR_NDrugs        0
DR_Suppl         0
DR_Prod          0
DR_Kol           0
DR_CZak          0
DR_CRoz          0
DR_SDisc         0
DR_CDisc      2697
DR_BCDisc     2697
DR_TabEmpl       0
DR_VZak          0
DR_Pos           0
dtype: int64

In [10]:
df = df.fillna(0)

In [11]:
df.isna().sum()

DR_Dat        0
DR_Tim        0
DR_NChk       0
DR_NDoc       0
DR_Apt        0
DR_Kkm        0
DR_TDoc       0
DR_TPay       0
DR_CDrugs     0
DR_NDrugs     0
DR_Suppl      0
DR_Prod       0
DR_Kol        0
DR_CZak       0
DR_CRoz       0
DR_SDisc      0
DR_CDisc      0
DR_BCDisc     0
DR_TabEmpl    0
DR_VZak       0
DR_Pos        0
dtype: int64

In [12]:
my_cols = ['DR_Dat', 'DR_Tim', 'DR_NChk', 'DR_NDoc', 'DR_Apt', 'DR_CDrugs', 'DR_Kol', 'DR_CZak', 'DR_CRoz', 'DR_SDisc', 'DR_CDisc', 'DR_BCDisc', 'DR_TabEmpl', 'DR_TPay', 'DR_NDrugs', 'DR_Suppl', 'DR_VZak', 'DR_Pos']

In [13]:
df = df[my_cols]

In [14]:
df.head(3)

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_CDrugs,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_TPay,DR_NDrugs,DR_Suppl,DR_VZak,DR_Pos
0,2022-08-11,10:15:35,2173,2004598,2,45399,1.00,41.08,51.00,12.00,925.00,200000000492.00,205,18,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,Катрен г.Химки,1,1.00
1,2022-08-11,10:27:46,2174,2004598,2,261519,1.00,18.61,31.00,3.00,9.00,200010010204.00,205,15,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,Катрен г.Химки,1,1.00
2,2022-08-11,10:27:46,2174,2004598,2,460864,1.00,132.69,209.00,20.00,9.00,200010010204.00,205,15,СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...,Катрен г.Химки,1,2.00

In [15]:
df.shape

(4462, 18)

In [16]:
df.columns = ['dt', 'time_', 'nchk', 'ndoc', 'apt', 'drug_id', 'kol', 'zak', 'roz', 'disc', 'disc_id', 'barcode', 'empl', 'tpay', 'ndrugs', 'suppl', 'vzak', 'pos']

In [17]:
df.head(3)

,dt,time_,nchk,ndoc,apt,drug_id,kol,zak,roz,disc,disc_id,barcode,empl,tpay,ndrugs,suppl,vzak,pos
0,2022-08-11,10:15:35,2173,2004598,2,45399,1.00,41.08,51.00,12.00,925.00,200000000492.00,205,18,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,Катрен г.Химки,1,1.00
1,2022-08-11,10:27:46,2174,2004598,2,261519,1.00,18.61,31.00,3.00,9.00,200010010204.00,205,15,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,Катрен г.Химки,1,1.00
2,2022-08-11,10:27:46,2174,2004598,2,460864,1.00,132.69,209.00,20.00,9.00,200010010204.00,205,15,СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...,Катрен г.Химки,1,2.00

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4462 entries, 0 to 4461
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dt       4462 non-null   object
 1   time_    4462 non-null   object
 2   nchk     4462 non-null   int64
 3   ndoc     4462 non-null   int64
 4   apt      4462 non-null   int64
 5   drug_id  4462 non-null   int64
 6   kol      4462 non-null   float64
 7   zak      4462 non-null   float64
 8   roz      4462 non-null   float64
 9   disc     4462 non-null   float64
 10  disc_id  4462 non-null   float64
 11  barcode  4462 non-null   float64
 12  empl     4462 non-null   int64
 13  tpay     4462 non-null   int64
 14  ndrugs   4462 non-null   object
 15  suppl    4462 non-null   object
 16  vzak     4462 non-null   int64
 17  pos      4462 non-null   float64
dtypes: float64(7), int64(7), object(4)
memory usage: 627.6+ KB

In [19]:
df['barcode'].dtype

dtype('float64')

In [20]:
df['barcode'] = df['barcode'].astype(str).replace(r'\.0+$', '', regex=True)
df['disc_id'] = df['disc_id'].astype(str).replace(r'\.0+$', '', regex=True)

In [21]:
df['dt']

0       2022-08-11
1       2022-08-11
2       2022-08-11
3       2022-08-11
4       2022-08-11
           ...
4457    2022-08-12
4458    2022-08-12
4459    2022-08-12
4460    2022-08-12
4461    2022-08-12
Name: dt, Length: 4462, dtype: object

In [22]:
df['dt'] = pd.to_datetime(df['dt']).dt.strftime('%d.%m.%Y')
df[:3]

,dt,time_,nchk,ndoc,apt,drug_id,kol,zak,roz,disc,disc_id,barcode,empl,tpay,ndrugs,suppl,vzak,pos
0,11.08.2022,10:15:35,2173,2004598,2,45399,1.00,41.08,51.00,12.00,925,200000000492,205,18,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,Катрен г.Химки,1,1.00
1,11.08.2022,10:27:46,2174,2004598,2,261519,1.00,18.61,31.00,3.00,9,200010010204,205,15,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,Катрен г.Химки,1,1.00
2,11.08.2022,10:27:46,2174,2004598,2,460864,1.00,132.69,209.00,20.00,9,200010010204,205,15,СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...,Катрен г.Химки,1,2.00

In [23]:
df['vzak'].value_counts()

vzak
1    4304
2     158
Name: count, dtype: int64

In [24]:
df['vzak'] = df['vzak'].astype(str).replace('1', 'Обычная'). replace('2', 'Интернет')
df['vzak'].value_counts()

vzak
Обычная     4304
Интернет     158
Name: count, dtype: int64

In [25]:
df.isna().sum()

dt         0
time_      0
nchk       0
ndoc       0
apt        0
drug_id    0
kol        0
zak        0
roz        0
disc       0
disc_id    0
barcode    0
empl       0
tpay       0
ndrugs     0
suppl      0
vzak       0
pos        0
dtype: int64